.filters-container {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.filter-tag {
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: transparent;
  border: 1px solid #6561d1;
  border-radius: 5px;
  color: #f9f9f9;
  cursor: pointer;
  transition: all 0.4s linear;
}

.filter-tag:focus {
  outline: none;
}

.highlight-filter {
  color: #6561d1;
  border: 1px solid #f9f9f9;
}
